/*! Last update: Fri Feb 24 2017 23:25:38 GMT+0800 (CST) */
@charset "utf-8";
/**灰色色阶为公用颜色**/
/**主题**/
@keyframes slideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
}
@keyframes slideDownIn {
  0% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
}
@keyframes slideLeftIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleX(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleX(1);
  }
}
.rsuite-Picker {
  /* settings */
  position: relative;
  box-sizing: border-box;
  text-align: left;
}
.rsuite-Picker.cascade.expand .toggle {
  padding: 7px 26px 7px 26px;
}
.rsuite-Picker.cascade.expand.rsuite-Picker--dropup .toggle {
  border-top-width: 1px;
  padding: 7px 26px 7px 26px;
}
.rsuite-Picker.cascade.expand.rsuite-Picker--dropup .toggle .toggle-arrow {
  top: 14px;
}
.rsuite-Picker.cascade.expand.rsuite-Picker--dropup .selectDropdown.dropup {
  border-top: medium none;
}
.rsuite-Picker.cascade .selectDropdown {
  border: medium none;
  width: auto;
  min-width: auto;
  height: 200px;
}
.rsuite-Picker.cascade .toggle {
  border-bottom-width: 1px !important;
}
.rsuite-Picker.cascade .cascader-menu {
  width: 120px;
  display: inline-block;
  height: 200px;
  overflow-y: auto;
  float: left;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
  animation: slideLeftIn 0.3s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.rsuite-Picker.cascade .cascader-menu:first-child {
  border-left: 1px solid #DCDCDC;
}
.rsuite-Picker.cascade .cascader-menu:last-child {
  border-right-color: #DCDCDC;
}
.rsuite-Picker.cascade .has-children {
  position: relative;
}
.rsuite-Picker.cascade .has-children .more-arrow {
  content: '';
  display: block;
  position: absolute;
  right: 6px;
  top: 14px;
  border-color: transparent transparent transparent #575757;
  border-width: 4px;
  border-style: solid;
}
.rsuite-Picker.disabled {
  opacity: .65;
}
.rsuite-Picker.disabled .toggle {
  background: #F5F5F5 !important;
  cursor: not-allowed;
}
.rsuite-Picker:not(.disabled) .toggle {
  overflow: hidden;
  position: relative;
  transition: 'background-color .3s linear, border .0s linear';
}
.rsuite-Picker:not(.disabled) .toggle:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, rgba(0, 0, 0, 0) 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}
.rsuite-Picker:not(.disabled) .toggle:active:after {
  transform: scale(0);
  opacity: .2;
  transition: 0s;
}
.rsuite-Picker .toggle {
  position: relative;
  overflow: hidden;
  background-color: #FFF;
  color: #333;
  border: 1px solid #CCC;
  padding: 7px 26px 7px 26px;
  cursor: pointer;
  outline: none;
  width: 100%;
  text-align: left;
}
.rsuite-Picker .toggle-placeholder {
  white-space: nowrap;
  margin-right: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 22px;
}
.rsuite-Picker .toggle .toggle-arrow {
  content: '';
  display: block;
  position: absolute;
  right: 17px;
  top: 14px;
  border-color: #575757 transparent transparent;
  border-width: 4px 4px 0;
  border-style: solid;
}
.rsuite-Picker.expand .toggle {
  z-index: 101;
  background: #FFF !important;
  border-color: #DCDCDC !important;
  border-bottom-width: 0;
  padding: 7px 26px 8px 26px;
}
.rsuite-Picker.expand.rsuite-Picker--dropup .toggle {
  border-top-width: 0;
  border-bottom-width: 1px;
  padding: 8px 26px 7px 26px;
}
.rsuite-Picker.expand.rsuite-Picker--dropup .toggle-arrow {
  top: 15px;
}
.rsuite-Picker.inverse .toggle {
  border-color: #f5f5f5;
  background-color: #f5f5f5;
}
.rsuite-Picker.inverse .toggle:hover {
  background-color: #E8E8E8;
}
.rsuite-Picker.inverse .toggle-placeholder {
  color: #575757;
}
.rsuite-Picker .selectList {
  overflow-y: auto;
}
.rsuite-Picker .selectList:before,
.rsuite-Picker .selectList:after {
  content: " ";
  display: table;
}
.rsuite-Picker .selectList:after {
  clear: both;
}
.rsuite-Picker .selectDropdown {
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.28);
  background-color: #FFF;
  border: 1px solid #CCC;
  padding: 0px;
  margin-top: -1px;
  overflow: auto;
  position: absolute;
  top: 100%;
  z-index: 100;
  left: 0;
  width: 100%;
  animation: slideUpIn 0.3s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.rsuite-Picker .selectDropdown.dropup {
  top: auto;
  left: 0;
  bottom: 37px;
  border-top: 1px solid #CCC;
  -moz-box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.175);
  animation: slideDownIn 0.3s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.rsuite-Picker .selectDropdown .tree-node {
  position: relative;
}
.rsuite-Picker .selectDropdown .tree-node.open > .node-children {
  display: block;
}
.rsuite-Picker .selectDropdown .tree-node.open > .node-hasChildren .expand-icon:before {
  content: "\F0D7";
}
.rsuite-Picker .selectDropdown .tree-node .node-children {
  display: none;
}
.rsuite-Picker .selectDropdown .tree-node .selectOption {
  padding: 6px;
  margin-left: 18px;
}
.rsuite-Picker .selectDropdown .tree-node .expand-icon {
  width: 18px;
  height: 18px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 8px;
}
.rsuite-Picker .selectDropdown .tree-node .expand-icon:before {
  content: "\F0DA";
}
.rsuite-Picker .selectDropdown .selectList .tree-node .item.active {
  background: #29a7e1;
}
.rsuite-Picker .selectDropdown .selectList .tree-node .item.active .expand-icon {
  color: #fff;
}
.rsuite-Picker .searchBar {
  padding: 6px 10px;
}
.rsuite-Picker .searchBar-input {
  display: block;
  padding: 4px;
  border: 1px solid #CCC;
  box-sizing: border-box;
  width: 100%;
  outline: none;
}
.rsuite-Picker .selectOption {
  padding: 6px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  text-decoration: none;
}
.rsuite-Picker .selectOption label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.rsuite-Picker .selectOption.notSelectable {
  color: #8F8F8F;
}
.rsuite-Picker .selectOption.notSelectable:hover,
.rsuite-Picker .selectOption.notSelectable:focus {
  color: #8F8F8F;
  background: none;
}
.rsuite-Picker .selectOption:hover,
.rsuite-Picker .selectOption:focus,
.rsuite-Picker .selectOption.hover {
  background-color: #eaf6fc;
  color: #575757;
}
.rsuite-Picker .selectOption.active {
  background-color: #29a7e1;
  color: #FFF;
}
.rsuite-Picker .selectGroup {
  margin-top: 2px;
  border-bottom: 1px solid #F5F5F5;
}
.rsuite-Picker .selectGroup .selectGroup-title {
  position: relative;
  font-weight: bold;
  color: #000;
  padding: 8px 10px 6px;
}
.rsuite-Picker .selectGroup .selectGroup-title .arrow {
  content: '';
  display: block;
  position: absolute;
  right: 17px;
  top: 14px;
  border-color: #575757 transparent transparent;
  border-width: 4px 4px 0;
  border-style: solid;
}
.rsuite-Picker .selectGroup.shrink .arrow {
  border-color: transparent #575757 transparent transparent;
  border-width: 4px;
}
.rsuite-Picker .selectGroup.shrink .selectOption {
  display: none;
}
.rsuite-Picker.TreePicker .item:hover {
  background: #eaf6fc;
}
.rsuite-Picker.TreePicker .selectDropdown {
  width: auto;
  min-width: 100%;
}
.rsuite-Picker.TreePicker .checkList,
.rsuite-Picker.TreePicker .selectList {
  display: inline-block;
  min-width: 100%;
}
.rsuite-Picker.TreePicker.multilayer .checkList > .item .selectOption,
.rsuite-Picker.TreePicker.multilayer .selectList > .item .selectOption {
  padding-left: 24px;
}
.rsuite-Picker.TreePicker.multilayer .checkList > .item,
.rsuite-Picker.TreePicker.multilayer .selectList > .item,
.rsuite-Picker.TreePicker.multilayer .checkList > .tree-node,
.rsuite-Picker.TreePicker.multilayer .selectList > .tree-node {
  margin-left: -10px;
}
.rsuite-CheckListPicker {
  /* settings */
}
.rsuite-CheckListPicker .checkItem {
  position: relative;
  padding: 6px 10px;
  cursor: pointer;
}
.rsuite-CheckListPicker .checkItem:hover {
  background-color: #eaf6fc;
  color: #575757;
}
.rsuite-CheckListPicker .checkItem.notSelectable .checkItem-checkbox {
  display: none;
}
.rsuite-CheckListPicker .checkItem.notSelectable .checkItem-label {
  padding-left: 0;
}
.rsuite-CheckListPicker .checkItem.notSelectable .checkItem-label::before,
.rsuite-CheckListPicker .checkItem.notSelectable .checkItem-label::after {
  border: none;
  width: 0;
  height: 0;
}
.rsuite-CheckListPicker .checkItem.checked .checkItem-label::after {
  font-family: FontAwesome;
  content: "\F00C";
  color: #29a7e1;
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  text-align: center;
}
.rsuite-CheckListPicker .checkItem .checkItem-checkbox {
  position: absolute;
  z-index: -1;
}
.rsuite-CheckListPicker .checkItem .checkItem-label {
  display: block;
  position: relative;
  margin-bottom: 0;
  padding-left: 2em;
  outline: 0;
  cursor: pointer;
}
.rsuite-CheckListPicker .checkItem .checkItem-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  background: #FFF;
  border: 1px solid #CCC;
}
.rsuite-CheckListPicker .btnClear {
  padding: 6px 10px;
  display: block;
  cursor: pointer;
}
.rsuite-CheckListPicker hr {
  margin-bottom: 16px;
  margin-top: 0;
}
.doc-page {
  margin: 70px 0;
}
.header {
  background: #1c272d;
}
.prefix {
  color: #0ae;
}
.sub-title {
  font-size: 16px;
  margin: 10px 0;
}
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #8e908c;
}
/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829;
}
/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5871f;
}
/* Tomorrow Yellow */
.hljs-attribute {
  color: #eab700;
}
/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #718c00;
}
/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #4271ae;
}
/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #8959a8;
}
.hljs {
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.markdown table {
  width: 100%;
}
.markdown table th {
  background: #f1f1f1;
}
.markdown table td,
.markdown table th {
  border: 1px solid #eee;
  padding: 10px;
}
pre {
  border: none;
  border-radius: 0;
}
code {
  border-radius: inherit;
}
