/*! Last update: Mon Oct 17 2016 00:06:19 GMT+0800 (CST) */
/**灰色色阶为公用颜色**/
/**主题**/
.rsuite-Picker {
  /* settings */
  position: relative;
  box-sizing: border-box;
  text-align: left;
}
.rsuite-Picker .toggle {
  position: relative;
  overflow: hidden;
  background-color: #FFF;
  color: #333;
  border: 1px solid #CCC;
  padding: 8px 26px 8px 18px;
  cursor: pointer;
  outline: none;
  width: 100%;
  text-align: left;
}
.rsuite-Picker .toggle .toggle-arrow {
  content: '';
  display: block;
  position: absolute;
  right: 17px;
  top: 14px;
  border-color: #575757 transparent transparent;
  border-width: 4px 4px 0;
  border-style: solid;
}
.rsuite-Picker.expand .toggle {
  background: #FFF !important;
  border-color: #dcdcdc !important;
}
.rsuite-Picker.inverse .toggle {
  border-color: #f5f5f5;
  background-color: #f5f5f5;
}
.rsuite-Picker.inverse .toggle:hover {
  background-color: #e8e8e8;
}
.rsuite-Picker.inverse .toggle-placeholder {
  color: #575757;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rsuite-Picker .selectList {
  overflow-y: auto;
}
.rsuite-Picker .selectDropdown {
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.28);
  background-color: #FFF;
  border: 1px solid #CCC;
  border-top: none;
  padding: 0px;
  margin-top: -1px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  left: 0;
}
.rsuite-Picker .selectDropdown.dropup {
  top: auto;
  left: 0;
  bottom: 37px;
  border-top: 1px solid #CCC;
  border-bottom: 0;
  -moz-box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.175);
}
.rsuite-Picker .searchBar {
  padding: 6px 10px;
}
.rsuite-Picker .searchBar-input {
  display: block;
  padding: 4px;
  border: 1px solid #CCC;
  box-sizing: border-box;
  width: 100%;
  outline: none;
}
.rsuite-Picker .selectOption {
  padding: 6px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  text-decoration: none;
}
.rsuite-Picker .selectOption:hover {
  background-color: #eaf6fc;
  color: #575757;
}
.rsuite-Picker .selectOption:focus {
  background-color: #eaf6fc;
  color: #575757;
  border: 1px dotted #29a7e1;
}
.rsuite-Picker .selectOption.active {
  background-color: #29a7e1;
  color: #fff;
}
.rsuite-Picker .selectGroup {
  margin-top: 2px;
  border-bottom: 1px solid #f5f5f5;
}
.rsuite-Picker .selectGroup .selectGroup-title {
  position: relative;
  font-weight: bold;
  color: #000;
  padding: 8px 10px 6px;
}
.rsuite-Picker .selectGroup .selectGroup-title .arrow {
  content: '';
  display: block;
  position: absolute;
  right: 17px;
  top: 14px;
  border-color: #575757 transparent transparent;
  border-width: 4px 4px 0;
  border-style: solid;
}
.rsuite-Picker .selectGroup.contract .arrow {
  border-color: transparent #575757 transparent transparent;
  border-width: 4px;
}
.rsuite-Picker .selectGroup.contract .selectOption {
  display: none;
}
.rsuite-CheckListPicker {
  /* settings */
}
.rsuite-CheckListPicker .checkItem {
  position: relative;
  padding: 6px 10px;
  cursor: pointer;
}
.rsuite-CheckListPicker .checkItem:hover {
  background-color: #eaf6fc;
  color: #575757;
}
.rsuite-CheckListPicker .checkItem.check .checkItem-label::after {
  font-family: FontAwesome;
  content: "\F00C";
  color: #29a7e1;
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  text-align: center;
}
.rsuite-CheckListPicker .checkItem .checkItem-checkbox {
  position: absolute;
  z-index: -1;
}
.rsuite-CheckListPicker .checkItem .checkItem-label {
  display: block;
  position: relative;
  margin-bottom: 0;
  padding-left: 2em;
  outline: 0;
}
.rsuite-CheckListPicker .checkItem .checkItem-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  background: #FFF;
  border: 1px solid #CCC;
}
.rsuite-CheckListPicker .btnClear {
  padding: 6px 10px;
  display: block;
  cursor: pointer;
}
.rsuite-CheckListPicker hr {
  margin-bottom: 16px;
  margin-top: 0;
}
.doc-page {
  margin: 70px 0;
}
.header {
  background: #1c272d;
}
.prefix {
  color: #0ae;
}
.sub-title {
  font-size: 16px;
  margin: 10px 0;
}
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #8e908c;
}
/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829;
}
/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5871f;
}
/* Tomorrow Yellow */
.hljs-attribute {
  color: #eab700;
}
/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #718c00;
}
/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #4271ae;
}
/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #8959a8;
}
.hljs {
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.markdown table {
  width: 100%;
}
.markdown table th {
  background: #f1f1f1;
}
.markdown table td,
.markdown table th {
  border: 1px solid #eee;
  padding: 10px;
}
pre {
  border: none;
  border-radius: 0;
}
code {
  border-radius: inherit;
}
