{
  "presets": ["env", "stage-0", "react", "rsuite"],
  "plugins": [
    "lodash",
    "transform-class-properties",
    "transform-proto-to-assign",
    "transform-runtime",
    "add-module-exports",
    "react-hot-loader/babel",
    "transform-dev"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
