{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "lodash",
    "transform-class-properties",
    "transform-runtime",
    "add-module-exports",
    "react-hot-loader/babel",
    "transform-dev",
    "rsuite"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
