{
  "presets": [
    "env",
    "stage-1",
    "react"
  ],
  "plugins": [
    "lodash",
    "transform-proto-to-assign",
    "transform-runtime",
    "react-hot-loader/babel",
    "transform-dev"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
