@import './main.less';

@icon-font-path: './fonts';

.link-group {
  cursor: pointer;
  .rs-table-cell-content {
    padding: 5px;
  }
}

::selection {
  background-color: @H500;
  color: #fff;
}

.markdown h2 {
  color: @text-color;
}
