// modularized
//@import '../../../rsuite/styles/common';
// integrated
@import '../../../rsuite/src/style/index';

@icon-font-path: './fonts';
//@ns: react-suite-;
#body {
  @import './main.less';
}

::selection {
  background-color: @H500;
  color: #fff;
}
