@import '~react-markdown-reader/less/highlight';
@import '~react-code-view/lib/less/index';
@import './functions';
@import './docsearch';
@import './stars';
@import './ie-polyfill';

//@ns: rs-;
//rewrite base color
@base-color: #34c3ff;
@bg-color: #fbfbfb;
@banner-bg-color: #1e2023;
@header-height: 64px;
@media-xs: 768px;
@media-md: 992px;
@scrollbar-width: 10px;

.main-container {
  padding-right: 180px;
}

.brand-wrapper {
  padding: 20px 0;
}

.logo {
  font-family: 'Raleway', 'Hiragino Sans GB', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.white-logo {
  .cls-2,
  .cls-1 {
    fill: #fff !important;
  }
}

.icon-btn-circle {
  padding: 12px;
  border-radius: 24px;
  .icon {
    font-size: 26px;
  }
}

.home-page {
  background: @bg-color;
  .btn-switch {
    color: #fff;
    z-index: 1050;
    position: fixed;
    right: 10px;
    top: 10px;
  }
}

.doc-header {
  background: #fff;
  border-color: #fff;
  &.navbar {
    height: @header-height;
  }
  &.overflow {
    // box-shadow: 0 2px 3px fade(@B000, 10);
    border: none;
  }
  .navbar-right {
    margin-right: 0;
  }
  .navbar-brand {
    height: @header-height;
    padding: 15px 0;
    .logo;
    @media (max-width: @media-xs) {
      & {
        margin-left: 10px;
      }
    }
  }
  .navbar-nav > li > a {
    height: @header-height;
    line-height: 39px;
    padding: 10px 30px;
    transition: none;
  }
  .navbar-nav > li {
    a {
      background: none !important;
      transition: color 0.3s linear;
    }
    &.active > a.hvr-underline-from-center::before {
      left: 0;
      right: 0;
    }
    &.active a,
    a:focus,
    a:active {
      color: @H700;
    }
  }
}

.doc-container {
  .page-header {
    margin: 40px 0 32px;
    border: none;
    font-size: 24px;
  }
  .page-context {
    padding: 20px;
    margin-left: 324px;
  }
  h3 {
    font-size: 16px;
  }
}

.ml200 {
  margin-left: 200px;
}

.top-level-nav {
  background: @H500;
  position: fixed;
  padding: 10px;
  width: 64px;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;

  .logo-sm {
    margin-left: 9px;
    margin-top: 5px;
  }

  .icon-btn-circle {
    margin-bottom: 6px;
    background: none;
    border: none;
    color: #fff;
    &.active {
      color: @H500;
    }

    &:focus {
      color: @H400;
    }

    &:hover:focus {
      color: @H600;
      background: transparent;
    }
  }
  &-menu {
    margin-top: 20px;
    .btn {
      &:active,
      &:focus {
        color: white;
        background: inherit;
      }
    }
  }

  .nav-menu-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 9px;
    text-align: center;
  }
}

.@{ns}sidebar-wrapper.fixed {
  position: fixed;
  background: #f4f5f7;
  width: 260px;
  left: 64px;
  top: 0;
  bottom: 0;
  z-index: 5;
  .title-wrapper {
    padding: 20px 20px 10px 20px;
    font-size: 20px;
    color: #ccc;
    i {
      font-size: 20px;
    }
    svg {
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 4px;
      fill: #fff;
    }
  }
}

.@{ns}nav.nav-docs {
  overflow: auto;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  top: 80px;
  padding: 0 10px;
  a {
    color: #575757;
    font-weight: 200;
    transition: background 0.3s cubic-bezier(0.4, 0, 1, 1);
    border-radius: 2px;
    padding-left: 20px;
  }
  .active {
    &,
    & a {
      font-weight: 600;
      color: @primary-color;
    }
  }
  .title-zh {
    font-size: 12px;
    margin-left: 4px;
    opacity: 0.5;
  }
  .@{ns}nav-item-panel {
    padding: 20px 12px 12px 12px;
    color: #aaa;
    border-bottom: 1px solid #eee;
  }

  // Scrollbar
  &::-webkit-scrollbar {
    border-radius: @scrollbar-width / 2;
    width: @scrollbar-width;
  }

  // Handle
  &::-webkit-scrollbar-thumb {
    border-radius: @scrollbar-width / 2;
    background-color: fade(#8d8d8d, 30);
    &:hover {
      background-color: fade(#8d8d8d, 90);
    }
  }

  // Track
  &::-webkit-scrollbar-track {
    border-radius: @scrollbar-width / 2;
    background: transparent;
  }
}

.markdown {
  h1 {
    font-size: 28px;
    margin-bottom: 22px;
    code {
      font-size: 14px;
      border-radius: 4px;
    }
  }

  h2 {
    font-size: 24px;
    margin-top: 40px;
    padding: 10px 0;
    color: #151515;
    font-weight: bold;
  }
  h3 {
    font-size: 18px;
    margin-top: 50px;
  }
  h3 code {
    font-size: 18px !important;
  }
  ol,
  ul {
    padding: 10px 20px;
    list-style-type: circle;
    li {
      line-height: 26px;
    }
  }
  table {
    width: 100%;
    td,
    th {
      background: none;
      border-style: none;
      border-bottom: 1px dashed #f1f1f1;
      padding: 10px;
    }
  }
  table th {
    text-align: left;
  }
  blockquote {
    padding: 10px;
    margin: 0 0 10px;
    font-size: 14px;
    border-left: 5px solid #eee;
    opacity: 0.8;
  }
}

pre {
  border: none;
  border-radius: 0;
}

.doc-highlight {
  background-color: #f5f5f5;
  padding: 10px;
  margin: 1em 0;
  pre {
    margin: 0;
  }
}

code:not(.doc-highlight) {
  font-size: 87.5%;
  color: #777;
  background-color: #f5f5f5;
  border-radius: 3px;
  white-space: pre;
}

a code {
  color: @H500 !important;
  background: none !important;
}

.code-view .@{ns}btn-toolbar + .@{ns}btn-toolbar {
  margin-top: 10px;
}

.banner {
  position: absolute;
  width: 100%;
  background: @banner-bg-color;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1040;
  overflow: hidden;
  color: #fff;
  .nav {
    top: 32px;
    position: absolute;
    margin-left: 220px;
  }
  .sub-title {
    margin-top: 40px;
    font-size: 22px;
  }
  .menu-nav > a {
    background: transparent;
    margin: 0 10px;
    text-decoration: none;
    color: #aaa;
    transition: color 0.3s linear;
    &.primary {
      border: 1px solid #ff8533;
    }
    &:hover {
      &,
      & .external-link {
        color: @base-color;
      }
    }
  }
  .doc-code {
    opacity: 0.3;
    filter: blur(1px);
  }
}

.banner-content {
  width: 500px;
  text-align: center;
  top: 50%;
  z-index: 200;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  margin-top: -155px;
}

.footer {
  margin-top: 20px;
  padding: 18px 0;
  a {
    margin: 0 10px;
  }
  .fa-github {
    font-size: 18px;
    vertical-align: middle;
  }
}

.cm-s-base16-dark.CodeMirror {
  // background: none !important;
}

.icon-list-wrap .page-header-en {
  margin-left: 0;
}

.icon-search-input {
  margin: 20px 0 40px 0;
}

.icon-item-list {
  .icon-list-group-title {
    margin-bottom: 2rem;
  }
  .icon-item {
    display: inline-block;
    width: 120px;
    vertical-align: top;
    margin-bottom: 1rem;
    padding: 10px;
    cursor: pointer;
    opacity: 0.8;
    position: relative;

    &.new-icon:hover .icon-wrapper::before {
      display: none;
    }

    &.new-icon .icon-wrapper::before {
      position: absolute;
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: @error-color;
      top: 12px;
      right: 12px;
    }
    .icon-wrapper {
      height: 50px;
      text-align: center;
    }
    .icon-content {
      display: block;
      width: 100%;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 36px;
    }
    &:hover {
      background: @H500;
      color: #fff;
      border-radius: 4px;
      opacity: 1;
    }
    &:hover .icon-name-text {
      color: @H050;
    }
  }
  .icon-name-text {
    font-size: 0.8rem;
    color: #adb5bd;
    width: 100%;
    text-align: center;
  }
  .text-danger {
    color: @error-color;
  }
}

.icon-example-list .@{ns}icon {
  margin: 10px;
}

.get-start-preview-pic {
  width: 100%;
}

.rsuite-theme-preview {
  width: 100%;
}

.rsuite-logo {
  .cls-1 {
    fill: #6292f0;
  }
  .cls-2 {
    fill: #ec727d;
  }
  .cls-1,
  .cls-2 {
    fill-rule: evenodd;
  }
}

.code-view .@{ns}btn-toggle {
  margin-right: 8px;
  .@{ns}icon {
    width: 14px;
    text-align: center;
  }
}

.external-link {
  font-size: 12px;
  margin-left: 8px;
  display: inline-block;
  color: #bbb;
  transition: color 0.3s linear;
}

.logo-animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.logo-animated-delay-half-seconds {
  animation-delay: 0.5s;
}

@keyframes logoBounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: logoBounceIn;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

.header-toolbar {
  position: absolute;
  right: 60px;
  top: 10px;
  z-index: 10000;
  a {
    color: #fff;
  }
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: @base-color;
    height: 2px;
    transition: left 0.3s ease-out, right 0.3s ease-out;
  }
  & > a::after,
  &::after {
    display: none !important;
  }
  &:hover::before,
  &:focus::before,
  &:active::before {
    left: 0;
    right: 0;
  }
}

.react-logo-run,
.react-logo-run-2 {
  animation: move 5s ease-in-out infinite;
  animation-play-state: paused;
  animation-delay: 1.3s;
  opacity: 0.2;
  &.running {
    animation-play-state: running;
  }
}

path.bg {
  opacity: 0.2;
}

.run-offset(@path) {
  //之前语法 始于2015年9月，M58版本会移除，大约2017年4月
  motion-path: path(@path);
  //当前规范上的语法 2016年12月支持
  offset-path: path(@path);
}

.react-logo-run {
  animation: move 5s ease-in-out infinite;
  .run-offset(
    'M231.7,200c0,17.4-1.7,88-31.7,88s-31.7-70.6-31.7-88s1.7-88,31.7-88S231.7,182.6,231.7,200z'
  );
}

.react-logo-run-2 {
  animation: move 7s ease-out infinite;
  .run-offset(
    'M216.1,227.7c-15,8.9-76.6,43.4-91.9,17.6s44.6-63.2,59.6-72.1s76.6-43.4,91.9-17.6S231.1,218.8,216.1,227.7z'
  );
}

@keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

.search-input {
  background: #eee !important;
  border: none;
  border-radius: 4px;
}

.code-view > div > .tree-view {
  border: 1px solid #eee;
}

.sketch-picker {
  border: 1px solid #ddd;
  box-shadow: none !important;
  width: 220px !important;
  * {
    box-sizing: unset;
  }
}

.component-overview {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li.title {
    display: block !important;
    clear: both;
    border: none !important;
    margin: 10px 0 !important;
  }
  > ul {
    margin-left: -10px;
    > li {
      display: inline-table;
      width: 180px;
      border-left: 1px solid #eee;
      margin: 10px 0 10px 10px;
      padding: 0 10px;
      code {
        padding: 0;
      }
    }
  }
  .header {
    margin: 4px 0;
    display: block;
  }
  .content {
    .name {
      font-size: 12px;
      color: @B500;
    }
  }
}

.search-list {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
  a {
    color: #575757;
    padding: 10px 6px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    &:hover {
      background: @H050;
    }
    em {
      color: @base-color;
      font-style: normal;
      font-weight: bold;
    }
    p {
      margin-top: 10px;
      color: #999;
      font-size: 12px;
    }
  }
}

.navbar-brand {
  padding: 18px 20px;
  display: inline-block;
}

.code-view-wrapper {
  transition: 0.3s linear border-color;
  margin: 18px 0;
  &:hover {
    border: 1px dashed @H500;
  }
  .code-view-toolbar {
    padding-bottom: 8px;

    > .rs-btn {
      .btn-md;
      height: 36px;

      .icon-lg() {
        @font-size: 20px;
        height: @font-size;
        font-size: @font-size;
      }
      .rs-icon-code {
        .icon-lg;
      }

      > .rs-icon-github {
        .icon-lg !important;
        top: -4px !important;
      }
    }
  }
  .code-view-error {
    max-height: 200px;
  }
}

#customSlider {
  margin-top: 18px;

  .@{ns}slider-handle {
    top: -6px;
    background-color: @H500;
    text-align: center;
    padding: 3px;
    margin-left: -16px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
      box-shadow: @slider-handle-hover-box-shadow;
    }

    &::before {
      display: none;
    }
  }

  &.@{ns}slider-dragging .@{ns}slider-handle,
  &.@{ns}slider-dragging .@{ns}slider-handle:hover {
    box-shadow: none;
    transform: scale(1.2);
  }
}

.doc-page.night {
  min-width: 1000px;
  .top-level-nav {
    background: #202225;
  }
  .@{ns}sidebar-wrapper {
    background: #2f3136;
  }

  .@{ns}nav.nav-docs {
    a {
      color: #eee;
      &:hover {
        color: #fff;
        background: #42464e !important;
      }
    }
    .rs-nav-item-content:focus {
      background: #42464e !important;
    }
    .@{ns}nav-item-active a {
      color: @H700;
    }
    .@{ns}nav-item-panel {
      border-bottom: 1px solid #2b2c31;
      color: #999;
    }
  }
  .@{ns}sidebar-wrapper.fixed .title-wrapper {
    color: #ccc;
  }
}

.placement-table {
  td {
    padding: 4px;
  }
  tr td:first-child {
    text-align: right;
  }
}

.table-content-editing .@{ns}input {
  position: absolute;
  left: 0;
  top: 5px;
  width: 90%;
}

.table-content-edit-span {
  margin-left: 2px;
  .ellipsis;
}

.menu-button {
  position: fixed !important;
  right: 20px;
  top: 10px;
  z-index: 0;
}

.hide-page-nav {
  .main-container {
    padding-right: 0px !important;
  }
  .page-nav {
    display: none;
  }
}

.page-nav {
  overflow: hidden;
  z-index: 5;
  background: #fff;

  .nav-item {
    position: relative;
  }

  .nav-link {
    display: block;
    text-decoration: none;
    color: @B900;
    font-size: 12px;
    position: relative;
    padding: 6px 0;
    box-sizing: border-box;
    height: auto;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      background: @B200;
    }

    &:hover {
      text-decoration: none;
    }

    &.scroll-bar-left::before {
      left: 0;
    }

    &.scroll-bar-right::before {
      right: 0;
    }

    &.active {
      color: @H700;

      &::before {
        width: 2px;
        background: @H700;
      }
    }
  }
}

.code-view .@{ns}timeline {
  &-item-custom-dot .@{ns}icon {
    position: absolute;
    top: 0;
    left: -2px;
    background-color: @B000;
  }
}

.code-view .field p {
  line-height: 32px;
}

.tag-input,
.tag-add-btn {
  display: inline-block;
  margin-left: 10px;
  vertical-align: bottom;
}

.show-col {
  background: @H500;
  color: #fff;
  padding: 10px;
}

.show-grid {
  [class*='@{ns}col-'] {
    padding: 10px 5px;
    color: @B000;
    background-color: @H500;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
    [class*='@{ns}col-'] {
      background-color: @H700;

      [class*='@{ns}col-'] {
        background-color: @H900;
      }

      [class*='@{ns}col-']:nth-child(2n) {
        background-color: fade(@H900, 90);
      }
    }

    [class*='@{ns}col-']:nth-child(2n) {
      background-color: fade(@H700, 90);
    }
  }

  [class*='@{ns}col-']:nth-child(2n) {
    background-color: fade(@H500, 80);
  }
}

// Flex grid box
.show-grid {
  .@{ns}flex-box-grid {
    &-item {
      margin-top: 6px;
      margin-bottom: 6px;
      padding: 10px 5px;
      color: white;
      text-align: center;
      background-color: @H500;
    }

    &-item:nth-child(2n) {
      background-color: fade(@H500, 80);
    }
  }
}

.show-container {
  > .@{ns}container {
    margin-bottom: 40px;
  }

  .@{ns}header,
  .@{ns}content,
  .@{ns}footer,
  .@{ns}sidebar {
    background: @H500;
    color: #fff;
    text-align: center;
  }

  .@{ns}header,
  .@{ns}footer {
    line-height: 56px;
    background: @H400;
  }
  .@{ns}content {
    line-height: 120px;
    background: @H300;
  }
  .@{ns}sidebar {
    line-height: 120px;
  }
}

.show-fake-browser {
  border: 1px solid #ddd;
  box-shadow: 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.28);
  border-radius: 4px;
  background: #f7f7fa;
  &.sidebar-page {
    .@{ns}sidebar {
      height: 700px;
      box-shadow: @default-box-shadow;
    }
    .@{ns}sidenav {
      flex: 1 1 auto;
      width: 100%;

      &-collapse-in {
        overflow-y: auto;
      }
    }
    .@{ns}header {
      padding: 0 20px;
    }
    .@{ns}content {
      padding: 20px;
      margin: 20px;
      background: #fff;
    }
    .nav-toggle {
      border-top: 1px solid #eee;
    }
  }
  &.navbar-page {
    .@{ns}content {
      padding: 20px;
      margin: 20px;
      height: 500px;
      background: #fff;
    }
    .@{ns}footer {
      padding: 20px;
    }
  }
  &.login-page {
    .@{ns}content {
      padding: 20px;
      margin: 20px;
      height: 500px;
    }
    .@{ns}footer {
      padding: 20px;
    }
    .@{ns}panel {
      background: #fff;
      margin-top: 70px;
    }
  }
}

.json-tree-wrapper {
  background: rgb(0, 43, 54) !important;
  margin-bottom: 20px !important;
  .rs-panel-heading {
    background: #06232c;
    border-radius: 6px;
    color: #fff;
  }
  .rs-panel-body {
    padding: 0px 4px 8px 10px;
  }
}

.palette-wrapper {
  display: flex;
  flex-direction: row;
  .palette-panel {
    width: 276px;
  }
  .palette-preview {
    margin-left: 10px;
    padding: 0 10px;
    .rs-panel {
      position: relative;
    }
  }

  .panel-color-wrap {
    margin-left: -10px;
    width: 220px;
    .panel-color {
      padding: 0;
      list-style: none;
      li {
        padding: 13px;
        font-family: 'DejaVu Sans Mono';
      }
    }
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.custom-exiting,
.custom-entering {
  animation: 0.3s linear;
  animation-fill-mode: forwards;
}

.custom-exiting {
  animation-name: zoomOut;
}

.custom-entering {
  animation-name: zoomIn;
}

.custom-entered {
  opacity: 1;
}

.custom-exited {
  opacity: 0;
}

.link-view-design {
  display: block;
  margin-bottom: 8px;
}

.palette-logo-tool {
  margin-top: 20px;
}

.palette-image-preview {
  position: relative;
  margin-top: 20px;
  padding: 10px;
  border-radius: 6px;
}

.palette-image-position-dot {
  position: absolute;
  background: #fff;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #000;
}

.menu-nav .hvr-underline-from-center {
  @media (max-width: @screen-tablet) {
    display: block;
  }
}

.rs-sidebar-wrapper {
  overflow-x: hidden;
}

.link-group {
  cursor: pointer;
  .rs-table-cell-content {
    padding: 5px;
  }
}

.rs-table {
  .header-cell-group {
    .rs-table-cell-content {
      padding: 0;
    }
    &-title,
    &-subtitle span {
      padding: 10px;
      border-bottom: 1px solid #f2f2f5;
    }
    &-subtitle span {
      display: inline-block;
      border-right: 1px solid #f2f2f5;
    }
  }
}

.rs-icon.fill-color use {
  fill: currentColor;
}

.gitter-open-chat-button {
  background: #848996;
  &:hover,
  &:focus {
    background: #202225;
  }
}

.avatar-group {
  display: flex;
  align-items: flex-end;

  .rs-avatar {
    margin-left: 10px;
  }
}
