
.sublime {
    position: relative;
    margin: 25px auto;
    padding: 2%;
    list-style: none;
    border-top: 25px solid #b4b4b4;
    border-radius: 10px;
    background: #262728;
    color: #f1f1f1;
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-size: 1.1em;
    /* Colors */
}
.sublime li {
    min-height: 25px;
    line-height: 25px;
}
.sublime .buttons {
    min-height: 0;
    position: absolute;
    top: -18px;
    border-radius: 100%;
    width: 13px;
    height: 13px;
    background-color: #ff5d5b;
    border: 1px solid #e64344;
}
.sublime .buttons:before, .sublime .buttons:after {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 100%;
    top: -1px;
}
.sublime .buttons:before {
    left: 20px;
    border: 1px solid #e3a041;
    background-color: #ffbc4c;
}
.sublime .buttons:after {
    left: 40px;
    border: 1px solid #13ad46;
    background-color: #00c956;
}
