/*! Last update: Wed Feb 22 2017 17:09:42 GMT+0800 (CST) */
/**灰色色阶为公用颜色**/
/**主题**/
.tree-view {
  position: relative;
  padding: 18px;
  overflow: auto;
}
.tree-view .tree-node {
  position: relative;
  padding: 2px 0;
}
.tree-view .tree-node label {
  cursor: pointer;
}
.tree-view .tree-node:focus {
  background: #eaf6fc;
  outline: #155471 dotted thin;
}
.tree-view .tree-node.active {
  color: #29a7e1;
}
.tree-view .tree-node.disabled {
  color: #b5b5b5;
}
.tree-view .tree-node.disabled label {
  cursor: not-allowed;
}
.tree-view .tree-node .expand-icon {
  width: 12px;
  cursor: pointer;
  position: absolute;
  top: 6px;
}
.tree-view .tree-node .expand-icon:before {
  content: "\F0DA";
}
.tree-view .tree-node label {
  display: block;
  padding-left: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.tree-view .children {
  display: none;
}
.tree-view .open > .children {
  display: block;
}
.tree-view .open > .tree-node .expand-icon:before {
  content: "\F0D7";
}
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #8e908c;
}
/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829;
}
/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5871f;
}
/* Tomorrow Yellow */
.hljs-attribute {
  color: #eab700;
}
/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #718c00;
}
/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #4271ae;
}
/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #8959a8;
}
.hljs {
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.markdown table {
  width: 100%;
}
.markdown table th {
  background: #f1f1f1;
}
.markdown table td,
.markdown table th {
  border: 1px solid #eee;
  padding: 10px;
}
pre {
  border: none;
  border-radius: 0;
}
code {
  border-radius: inherit;
}
.drag-handler-wrapper {
  display: inline-block;
}
.drag-mover {
  border: 1px dashed #f5f5f5;
  background: #b5b5b5;
  opacity: 0.5;
  height: 36px;
  width: 100px;
  position: fixed;
  z-index: 100;
  cursor: move;
  display: none;
  pointer-events: none;
  padding: 4px;
}
.drag-container {
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  width: 100%;
  height: 240px;
  padding: 10px;
}
.drag-container.hover {
  border: 1px dashed #29a7e1;
}
.drag-container .tip {
  color: #999;
}
.drag-container .label {
  padding: 10px;
  display: inline-block;
  border: 1px solid #ddd;
  margin-right: 10px;
  color: #575757;
  background: #fff;
}
.doc-page {
  margin: 70px 0;
}
.header {
  background: #1c272d;
}
.prefix {
  color: #0ae;
}
.sub-title {
  font-size: 16px;
  margin: 10px 0;
}
.doc-example {
  padding: 46px 18px 18px;
  border: 1px solid #eee;
  position: relative;
}
.doc-example:after {
  position: absolute;
  top: 18px;
  left: 18px;
  font-size: 12px;
  font-weight: 300;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "Example";
}
