@import '~rsuite-page-nav/lib/less/index.less';

.switch-nav-menu {
  .dropdown-menu {
    width: 610px;
    height: 300px !important;
    max-height: none !important;
    li {
      width: 200px;
      float: left;
    }
  }
}